{{outlet}}
<h1> Welcome to Gathua Messaging Board </h1>

<!-- Question Display section -->
<div class="well">
  <ol>
    {{#each model.questions as |question|}}
      <li>{{question-tile question=question}}</li>
    {{/each}}
  </ol>
    {{new-question saveQuestion2="saveQuestion3"}}
</div>

<!-- Answer Display section -->
<div class="well">
  <h2>Answers</h2>
  <ol>
    {{#each model.answers as |answer|}}
        {{answer-tile answer=answer destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ol>

  {{new-answer saveAnswer="saveAnswer"}}
</div>
